.bug {
    background-color: #abb642;
    color: #000;
  }
  
  .dark {
    background-color: #303030;
    color: #fff;
  }
  
  .dragon {
    background-color: #6843ef;
    color: #fff;
  }
  
  .electric {
    background-color: #f2d054;
    color: #000;
  }
  
  .fairy {
    background-color: #e29dac;
    color: #000;
  }
  
  .flying {
    background-color: #a493ea;
    color: #000;
  }
  
  .fighting {
    background-color: #b13c31;
    color: #fff;
  }
  
  .fire {
    background-color: #e28544;
    color: #fff;
  }
  
  .ghost {
    background-color: #6c5a94;
    color: #fff;
  }
  
  .grass {
    background-color: #8bc560;
    color: #000;
  }
  
  .ground {
    background-color: #dbc074;
    color: #000;
  }
  
  .ice {
    background-color: #a6d6d7;
    color: #000;
  }
  
  .normal {
    background-color: #b1b175;
    color: #000;
  }
  
  .poison {
    background-color: #94489b;
    color: #fff;
  }
  
  .psychic {
    background-color: #e66388;
    color: #fff;
  }
  
  .rock {
    background-color: #b4a04a;
    color: #fff;
  }
  
  .steel {
    background-color: #b8b8ce;
    color: #000;
  }
  
  .water {
    background-color: #6f91e9;
    color: #fff;
  }